.content-wrapper{
  padding: 100px;
}

.row{
  padding-top: 25px;
}

select{
  width: 75px;
}

label.form-label{
  padding-left: 25px;
}

input{
  width: 500px;
}

label.btn-primary{
  margin-left: 25px;
}

.result-wrapper .row{
  padding-left: 25px;
}

.spinner-border{
  margin-left: 50px;
}
