<div class="content-wrapper">
  <div class="row">
    <div class="col">
      <label class="form-label">
        Reader size
        <select class="form-control" [(ngModel)]="readerSize" placement="top" ngbTooltip="Факлическое количество возвращаемых ответов (выборка ридера)" >
          <option *ngFor="let i of [1,2,3,4,5]" [value]="i">{{i}}</option>
        </select>
      </label>
      <label class="form-label">
        Retriever size
        <select class="form-control" [(ngModel)]="retrieverSize" placement="top" ngbTooltip="Количество порций данных извлекаемых ретривером" >
          <option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]" [value]="i">{{i}}</option>
        </select>
      </label>
      <label class="form-label">
        Question
        <input class="form-control" [(ngModel)]="question" placement="top" ngbTooltip="Поисковая строка на русском" >
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <label class="btn-primary" ngbButtonLabel (click)="click()">
        SEND REQUEST
      </label>
      <div class="spinner-border" role="status" *ngIf="loading">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
  <div class="result-wrapper" *ngIf="result | async">
    <div class="row">
      <div class="col-1">Top answer:</div>
      <div class="col-11">{{(result | async).top_answer}}</div>
    </div>
    <div class="row">
      <div class="col-1">Document name:</div>
      <div class="col-11">{{(result | async).document_name}}</div>
    </div>
    <div class="row">
      <div class="col-1">Answers</div>
      <div class="col-11">
        <ul ngbNav #nav="ngbNav" activeId="0" class="nav-tabs">
          <li *ngFor="let item of (result | async).answers; let ind = index" [ngbNavItem]="ind">
            <a ngbNavLink>Answer#{{ind + 1}}</a>
            <ng-template ngbNavContent>
              <p>{{item}}</p>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-1">Document content:</div>
      <div class="col-11" [innerHTML]="(result | async).document_text | documentContent"></div>
    </div>
  </div>
</div>
